/* ------- Rosalie ------- */
header > a > img {
	margin-bottom:1%;
}
nav > ul > li > a {
	color: white;
    text-decoration: none;
}
article > header > a {
    text-decoration: none;
}

body > footer {
	padding-top: 50px ;
}
